{% load i18n %}
<div class="oh-general__tab-target oh-profile-section mb-4 d-none" id="bank">
    <div class="oh-profile-section__card">
        <form action="" method="post">

            {% csrf_token %}
            <input type="hidden" name="bank_info_submit" value="1" />
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "IBAN" %}</label>
                        {{ bank_form.iban }}
                        {{ bank_form.iban.errors }}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "RNOKPP" %}</label>
                        {{ bank_form.rnokpp }}
                        {{ bank_form.rnokpp.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Payment Purpose" %}</label>
                        {{ bank_form.payment_purpose }}
                        {{ bank_form.payment_purpose.errors }}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label d-block">{% trans "Maintained" %} (ФОП)</label>
                        <div class="oh-switch" style="width:fit-content;">
                            {{ bank_form.fop_maintained }}
                        </div>
                        {{ bank_form.fop_maintained.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Bank Name" %}</label>
                        {{ bank_form.bank_name }}
                        {{ bank_form.bank_name.errors }}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Card Number" %}</label>
                        {{ bank_form.card_number }}
                        {{ bank_form.card_number.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Wallet Number" %}</label>
                        {{ bank_form.wallet_number }}
                        {{ bank_form.wallet_number.errors }}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Wallet Currency" %}</label>
                        {{ bank_form.wallet_currency }}
                        {{ bank_form.wallet_currency.errors }}
                    </div>
                </div>
            </div>
            <hr class="mt-5 mb-3">
            <div class="w-100 d-flex align-items-center justify-content-end">
                <button type="submit" class="oh-btn oh-btn--secondary oh-btn--w-100-resp">
                    {% trans "Save" %}
                </button>
            </div>
        </form>
    </div>
</div>
</div>
